    <ul id="messages-list">
        {{#if messages}}
            {{#each messages}}
            <li>{{this.topic}} >> {{this.email}} >> {{this.text}}</li>
            {{/each}}
        {{else}}
            No messages.
        {{/if}}
    </ul>